.facilities {
    display: flex;
    justify-content: center;
}

.facilitiesContainer {
    width: 100%;
    max-width: 1380px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
    gap: 1rem;
}

.facility {
    margin-bottom: 3rem;
    position: relative;
    width: 45%;
    height: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.facility:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 39, 74, 0.3);
    transition: background 0.25s ease-in-out;
}

.facilityName {
    width: 50%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 25%;
    background: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2;
    border: none;
}

.facilityName h4 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: var(--primary-color);
}

/* Large screens */
@media screen and (min-width:2000px) {
    .facilitiesContainer {
        max-width: 1980px;
        margin-top: 7rem;
    }

    .facility {
        height: calc((40/100 * 400px) + 400px);
    }

    .facilityName h4 {
        font-size: 32px;
    }
}

/* Medium screens */
@media screen and (max-width: 1550px) {
    .facilitiesContainer {
        max-width: 1024px;
    }

    .facility {
        height: calc(80/100 * 400px);
        margin-bottom: 2rem;
    }

    .facilityName h4 {
        font-size: 20px;
    }
}

@media screen and (max-width:1150px) {
    .facilitiesContainer {
        max-width: 850px;
    }

    .facilityName h4 {
        font-size: 16px;
    }
}

/* Small screens */
@media screen and (max-width:850px) {
    .facilitiesContainer {
        max-width: 100%;
        justify-content: center;
    }

    .facility {
        width: 90%;
        height: calc(120/100 * 400px);
    }

    .facilityName h4 {
        font-size: 18px;
    }
}

@media screen and (max-width:550px) {
    .facility {
        width: 90%;
        height: calc(70/100 * 400px);
    }

    .facilityName {
        height: 30px;
    }

    .facilityName h4 {
        font-size: 14px;
    }
}

@media screen and (max-width:385px) {
    .facilityName h4 {
        font-size: 12px;
    }
}
