/* ================================
   LOADER
================================= */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    text-align: center;
    color: var(--primary-color);
}

.ldsRoller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.ldsRoller div {
    transform-origin: 40px 40px;
    animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.ldsRoller div::after {
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--primary-color);
    margin: -4px 0 0 -4px;
}

/* Positioning each dot and animation delay */
.ldsRoller div:nth-child(1) { animation-delay: -0.036s; }
.ldsRoller div:nth-child(1)::after { top: 63px; left: 63px; }

.ldsRoller div:nth-child(2) { animation-delay: -0.072s; }
.ldsRoller div:nth-child(2)::after { top: 68px; left: 56px; }

.ldsRoller div:nth-child(3) { animation-delay: -0.108s; }
.ldsRoller div:nth-child(3)::after { top: 71px; left: 48px; }

.ldsRoller div:nth-child(4) { animation-delay: -0.144s; }
.ldsRoller div:nth-child(4)::after { top: 72px; left: 40px; }

.ldsRoller div:nth-child(5) { animation-delay: -0.18s; }
.ldsRoller div:nth-child(5)::after { top: 71px; left: 32px; }

.ldsRoller div:nth-child(6) { animation-delay: -0.216s; }
.ldsRoller div:nth-child(6)::after { top: 68px; left: 24px; }

.ldsRoller div:nth-child(7) { animation-delay: -0.252s; }
.ldsRoller div:nth-child(7)::after { top: 63px; left: 17px; }

.ldsRoller div:nth-child(8) { animation-delay: -0.288s; }
.ldsRoller div:nth-child(8)::after { top: 56px; left: 12px; }

/* Animation */
@keyframes ldsRoller {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Optional Webkit for older browsers */
@-webkit-keyframes ldsRoller {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ================================
   RESPONSIVE ADJUSTMENTS
================================= */
@media screen and (max-width: 850px) {
    .ldsRoller {
        width: 60px;
        height: 60px;
    }
    .ldsRoller div::after {
        width: 5px;
        height: 5px;
        margin: -2.5px 0 0 -2.5px;
    }
}

@media screen and (max-width: 550px) {
    .ldsRoller {
        width: 50px;
        height: 50px;
    }
    .ldsRoller div::after {
        width: 4px;
        height: 4px;
        margin: -2px 0 0 -2px;
    }
}
